# Analyze FSF report

In [1]:
import pandas as pd

### Import, merge city and county reports

In [2]:
report = pd.concat([
    pd.read_excel('input/FSFdata.xlsx', sheet_name='County Data').rename(columns={'County Name': 'Name'}),
    pd.read_excel('input/FSFdata.xlsx', sheet_name='City Data').rename(columns={'City Name': 'Name'})
])

In [3]:
report = report[report.fips.isin([42003, 4261000])]

### Convert one-hour precipitation millimeters to inches

In [4]:
report['Depth_1in100_NOAA'] = report.Depth_1in100_NOAA / 25.4
report['Depth_1in100_FSF2023'] = report.Depth_1in100_FSF2023 / 25.4

### One-hour precipitation for Alleco, PGH

In [5]:
report['depth_pctchange'] = report[['Depth_1in100_NOAA', 'Depth_1in100_FSF2023']].pct_change(axis=1)['Depth_1in100_FSF2023']
report[['Name', 'Depth_1in100_NOAA', 'Depth_1in100_FSF2023', 'depth_pctchange']]

             Name  Depth_1in100_NOAA  Depth_1in100_FSF2023  depth_pctchange
2211    Allegheny           2.559055              3.574803         0.396923
23869  Pittsburgh           2.559055              3.736220         0.460000

### 1% storm frequency for Alleco, PGH

In [6]:
report['RP_1in100_NOAA'] = 100
report['100yrfreq_change'] = report.RP_1in100_NOAA / report.RP_1in100_FSF2023
report[['Name', 'RP_1in100_NOAA', 'RP_1in100_FSF2023', '100yrfreq_change']]

             Name  RP_1in100_NOAA  RP_1in100_FSF2023  100yrfreq_change
2211    Allegheny             100               25.3          3.952569
23869  Pittsburgh             100               20.3          4.926108

### 1% storm property flood risk for Alleco, PGH

In [7]:
report['100yrpropcount_pctchange'] = report[['Properties in SFHA', 'Properties in FSF 100 Year Zone, 2023']].pct_change(axis=1)['Properties in FSF 100 Year Zone, 2023']
report[['Name', 'Properties in SFHA', 'Properties in FSF 100 Year Zone, 2023', '100yrpropcount_pctchange']]

,Name,Properties in SFHA,"Properties in FSF 100 Year Zone, 2023",100yrpropcount_pctchange
2211,Allegheny,1752.0,85546.0,47.827626
23869,Pittsburgh,216.0,21797.0,99.912037